{% extends "core/base.html" %} {% load static %}
{% block content %}
<div class="container" id="about"    data-aos="fade-up"
data-aos-duration="1500">
<h1>ABOUT US</h1>
<div class="row">
    <div class="col-md-6 py-3 py-md-0">
        <div class="card">
            <img src="{% static "core/images/about.png" %}" alt="">
        </div>
    </div>
    <div class="col-md-6 py-3 py-md-0">
        <P>At our bakery, we believe that a cake is not just a dessert – it's a creation of love, artistry, and passion.
            Every layer is crafted with the finest ingredients, each flavor thoughtfully designed to bring joy to your tastebuds. Whether you're celebrating a special occasion or simply indulging in a sweet treat, our cakes are made with care and attention to detail. From custom designs to classic favorites, we promise to bring you the perfect cake to make any moment extraordinary. 
            Taste the love and creativity in every bite!</P>
            <div id="bt"><button>Read More...</button></div>
        </div>
    </div>
</div>
{% endblock content %}