{% extends "core/base.html" %} {% load static %}

{% block content %}
<div class="banner"    data-aos="fade-up"
        data-aos-duration="1500">
            <div class="content">
                <h3>Delicious Cake</h3>
                <h2>UPTO 20% OFF</h2>
                <p>Savor the irresistible taste of our delicious cake, freshly baked to perfection for any occasion!</p>
                <div id="btnorder"><button>Order Now</button></div>
            </div>
            <div class="img">
                <img src="./image/banner-background.png" alt="">
            </div>
        </div>

{% endblock content %}