{% extends "core/base.html" %} {% load static %}

{% block content %}
<div class="home">
    <div class="content" data-aos="zoom-out-right">
        <h3>Delicious
            <br>Cakes Bakery
        </h3>
        <h2>Category <span class="changecontent"></span></h2>
        <p>Welcome to our cake bakery, where we create delicious, <BR>
            handcrafted cakes for every celebration and sweet moment!
        </p>
        <a href="#" class="btn">Order Now</a>
    </div>
    <div class="img"  data-aos="zoom-out-left">
        <img src="./image/background.png" alt="">
    </div>
</div>

{% endblock content %}